.container{
    margin-top: 2em;
    width: 100%;
    padding: 1em 0em 1em 0em;
}

#map {
    height: 400px;
    margin-bottom: 0;
}

#modal1 { 
    width: 75% !important ;
    height: 100% !important ;
}

#closeMenu{
    margin: 0em 2em 0em -2em;
    size: 2em !important;
}

#menu-toggle{
    margin: 0em 1em 0em 1em;
}
#instructions{
    height: 100px !important;
}