
#map {
    height: 130vh;  /* The height is 400 pixels */
    width: 130%;  /* The width is the width of the web page */
    margin-left:  -5em;
    margin-top:  -5em;
   }
#fullScreen{
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top:0;
    z-index: -1;
}
.mt{
    margin-top: 3em;
}
.makeBig{
    min-height: 50%;
}
.toggle{
    margin-left: 1px;
    margin: 1em 0 0 1em;
}
.addToggle{
    position: fixed;
    right: 0;
    margin: 1em 1em 0 0;
}
.rides{
    width: 30em;
    position: fixed;
    padding: 1em;
    bottom: 0;
}
.maxHieght{
    height: 75vh;
    overflow-y: auto;
}

#navBtn{
    position: fixed;
}

@media (max-width: 576px) { 
    .makeBig{
        min-height: 80%;
        min-width: 90%;
    }

    .addToggle{
        position: fixed;
        right: 0;
        bottom: 0;
        margin: 0 1em 2em 0;
    }
    .rides{
        width: 80%;
        position: fixed;
        padding: 1em;
        bottom: 0;
    }
    .maxHieght{
        max-height: 90%;
        overflow-y: auto;
    }
}